@media (max-width: 1920px) {
  .direction-phases {
    flex-direction: row;
  }
}

@media (max-width: 1600px) {
  .direction-phases {
    flex-direction: row;
  }
}

@media (max-width: 1200px) {
  .direction-phases {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .direction-phases {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .container-content-card {
    margin-left: -64px;
  }
  .card-phase {
    width: 320px;
    height: 320px;
  }
  .subtitle-card {
    margin-top: 4rem;
    font-size: 0.8rem;
    width: 12rem;
  }
  .description-card {
    line-height: 1.2rem;
    margin-top: 0;
    font-size: 1rem;
    width: 16rem;
  }
}
